{% extends 'base.html' %}
  {% block title %}
    <title>Details</title>
  {% endblock %}
{% load static %}
{% block content %}
<center><h1>details</h1></center>
<div class="container w-75">
  <div class="d-flex justify-content-center align-items-center" style="min-height:100px;">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{employee.image.url}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{employee.name}}</h5>
        <ul>
          <li>Age-{{employee.age}}</li>
          <li>Salary-{{employee.salary}}</li>
          <li>Designation-{{employee.designation}}</li>
          <li>Place-{{employee.place}}</li>
          <li>Department Name-{{employee.department_name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}