{% extends 'base.html' %}
  {% block title %}
    <title>Home</title>
  {% endblock %}
{% load static %}
{% block content %}
<div class="container">
<center><h2 class="p-3">Empolyee List</h2></center>
<table class="table table-bordered border border-primary">
<tr class="bg-light">
    <th>NAME</th>
    <th>AGE</th>
    <th>SALARY</th>
    <th>DESIGNATION</th>
    <th>PLACE</th>
    <th>IMAGE</th>
    <th>DEPARTMENT NAME</th>
    <th>ACTIONS</th>

</tr>
{% for e in employee %}
    <tr>
    <td>{{e.name}}</td>
    <td>{{e.age}}</td>
    <td>{{e.salary}}</td>
    <td>{{e.designation}}</td>
    <td>{{e.place}}</td>
    <td><img src="{{e.image.url}}" height="200px" width="150px"></td>
      <td>{{e.department_name}}</td>
        <td><a class="btn btn-danger me-3" href="{% url 'details' e.id %}">Detail</a>
            <a class="btn btn-danger me-3" href="{% url 'edit' e.id  %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete' e.id %}">Delete</a></td>
   </tr>
{% endfor %}
</table>
</div>
{% endblock %}